#scroll {
  animation: scroll 15s linear infinite;
  will-change: transform;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#scroll:hover {
  animation-play-state: paused;
}

@media (max-width: 500px) {

  #container {
    overflow-x: hidden;
  }

  #bg {
    width: 100%;
    height: 1000px;
  }

  #ProfileImage {
    width: 140px;
    height: 140px;
  }

  #aboutMeText{
    width: 90%;
  }

  #technicalSkills{
    position: relative;
    top: 30px;
  }

  #project{
    position: relative;
    top: 40px;
  }

  #NoProject{
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  #bg {
    overflow: hidden;
    height: 1000px;
  }

  #ProfileImage {
    width: 130px;
    height: 130px;
  }

  #aboutMeText{
    width: 90%;
  }

  #technicalSkills{
    position: relative;
    top: 85px;
  }

  #project{
    position: relative;
    top: 85px;
  }

  #NoProject{
    width: 100%;
    margin-top: 50px;
  }

  #NoProject p{
    font-size: 9px;
  }
}

@media (max-width:344px) {
  #technicalSkills{
    position: relative;
    margin-top: 36px;
  }

  #NoProject{
    height: 200px;
    margin-top: 120px;
  }

  #bg{
    height: 1050px;
  }
}

@media (max-width: 335px){
  #technicalSkills{
    position: relative;
    margin-top: 70px;
  }
}

@media (max-width: 260px){
  #myName{
    font-size: 20px;
  }

  #technicalSkills{
    position: relative;
    margin-top: 140px;
  }

  #NoProject{
    height: 100px;
    margin-top: 230px;
  }
}